:root {
  /* faded */
  /* --dark: #2c3437;
  --light: #66787a;
  --accent: #cfa790;
  --player: #6ebcbd;
  --monster: #70444e; */

  /* bright */
  --dark: #0f2f3b;
  --light: #167c87;
  --accent: #b0fff8;
  --player: #ffa324;
  --monster: #771f34;
}

body {
  margin: 20px;
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  align-items: center;
  flex-direction: column;
}

#dungeon {
  width: 320px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
  box-shadow:
      var(--dark) 0 0 0 5px,
      var(--light) 0 0 0 13px;
  border-radius: 2px;
  margin: 20px;
}

.square {
  height: 40px;
  width: 40px;
  position: relative;
}

.square svg {
  height: 30px;
  width: 30px;
  margin: 5px;
  position: relative;
  z-index: -9;
}

.monster,
.player,
.room {
  position: relative;
  z-index: 9;
}

.black-square {
  background-color: var(--dark);
}

.white-square {
  background-color: var(--light);
}

.room {
  fill: var(--accent);
}

.monster {
  fill: var(--monster);
}

.player {
  fill: var(--player);
  cursor: pointer;
}

#stair {
  cursor: pointer;
}

#game {
  display: flex;
  flex-direction: row;
}

button {
  cursor: pointer;
}

li {
  cursor: pointer;
  color: var(--player);
  font-size: x-large;
}

li:hover {
  color: var(--accent);
}